<header class="site-meta"{{#if @blog.cover}} style="background-image: url({{@blog.cover}})"{{/if}}>
	{{#if posts}}
		{{#if @blog.logo}}
			<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Site Logo" /></a>
		{{/if}}

		<h1 class="site-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
	{{else}}
		<h2 class="site-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h2>
	{{/if}}

	<div class="site-description">{{@blog.description}}</div>
</header>
