{{!< _layout}}

{{#foreach posts}}
	<article class="{{post_class}} excerpt">
		<header class="post-meta">
			<h2 class="post-title"><a href="{{url}}">{{title}}</a></h2>

			<section class="author-excerpt">
				<h4 class="author-name">{{author.name}}</h4>
			</section>

			{{> timestamp}}
		</header>

		<section class="post-excerpt">
			<p>{{excerpt words="10"}}</p>
		</section>

		<footer class="post-meta">
			{{> tags}}
		</footer>
	</article>
{{/foreach}}
